//Colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayBlue: hsl(246, 25%, 77%);
$grayBlueShadow: hsla(249, 10%, 26%, 0.2);
$greenShadow: hsl(154, 59%, 51%);
